{:aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.babashka/sci {:git/url "https://github.com/babashka/sci"
                                                 :git/sha "987910fb38fdd166865458c3fd4b468a22fb9992"}
                               org.clojure/clojurescript {:mvn/version "1.11.51"}
                               applied-science/js-interop {:mvn/version "0.3.3"}
                               funcool/promesa {:mvn/version "11.0.671"}
                               reagent/reagent {:mvn/version "1.1.0"}
                               re-frame/re-frame {:mvn/version "1.3.0"}}}
           :cljs-test-runner
           {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
            :extra-paths ["test" "cljs-test-runner-out/gen"]
            :main-opts ["-m" "cljs-test-runner.main" "-d" "test"]}}
 :deps {}}
