{:deps
 {org.clojure/clojurescript {:mvn/version "1.11.51"}
  applied-science/js-interop {:mvn/version "0.3.3"}
  com.fulcrologic/fulcro {:mvn/version "3.6.10"}
  funcool/promesa {:git/url "https://github.com/funcool/promesa"
                   :git/sha "e503874b154224ce85b223144e80b697df91d18e"}
  no.cjohansen/replicant {:mvn/version "2025.03.27"}
  no.cjohansen/portfolio {:mvn/version "2025.01.28"}
  reagent/reagent {:mvn/version "1.2.0"}
  metosin/reitit {:mvn/version "0.9.1"}
  re-frame/re-frame {:mvn/version "1.4.0"}
  hoplon/javelin {:mvn/version "3.9.3"}
  hoplon/hoplon {:mvn/version "7.5.0"}
  datascript/datascript {:mvn/version "1.5.3"}
  cljs-bean/cljs-bean {:mvn/version "1.9.0"}}}
